@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
.canceltable{

    margin-top: 100px;
}
.cancelcard{
    margin-top: 96px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    border: 3px solid #ddd;
    height: 250px;
    margin-top: 0px;
    width: 450px;
    margin-right: 200px;
}
th{
    text-align: left;
}
button{
    background-color: #333;
    color: white;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: 0.5;
    cursor: pointer;
}